*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  font-family: monospace, sans-serif;
  font-weight: bold;
  background: linear-gradient(45deg, crimson, blueviolet, darkcyan);
}

.calc-grid {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(100px, auto) repeat(6, 70px);
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}
.calc-grid .output-display {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
}
.previous-operand {
  font-size: small;
  color: rgba(255, 255, 255, 0.7);
}
.current-operand {
  font-size: larger;
}
.calc-grid .span-two {
  grid-column: span 2;
}

.calc-grid > button {
  background-color: rgba(1, 1, 1, 0.7);
  font-weight: bold;
}
.calc-grid > button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.calc-grid > button:active {
  border: 1px solid cyan;
}
button[data-all-clear], button[data-delete], button[data-equals] {
  background-color: rgba(220, 20, 60, 0.75);
}
button[data-all-clear]:hover, button[data-delete]:hover, button[data-equals]:hover {
  background-color: rgba(220, 20, 60, 0.9);
}