*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.75);
}

body {
  font-family: monospace, sans-serif;
  font-weight: bold;
  background-color: #333;
}

.calc-grid {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(100px, auto) repeat(6, 70px);
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}
.calc-grid .output-display {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  overflow-x: hidden;
  
}
.previous-operand {
  font-size: small;
  color: rgba(255, 255, 255, 0.75);
}
.current-operand {
  font-size: larger;
}
.calc-grid .span-two {
  grid-column: span 2;
}

.calc-grid > button {
  background-color: rgba(1, 1, 1, 0.7);
  border: 1px solid black;
  font-weight: bold;
  font-size: large;
}
.calc-grid > button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.calc-grid > button:active {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 0.9);

}
button[data-all-clear], button[data-delete], button[data-equals] {
  background-color: crimson;
}
button[data-all-clear]:hover, button[data-delete]:hover, button[data-equals]:hover {
  background-color: rgb(220, 10, 30);
}
button[data-all-clear]:active, button[data-delete]:active, button[data-equals]:active {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgba(220, 20, 60, 1);
}

@media only screen and (max-width: 290px) {
  .calc-grid {
    scale: 0.85;
  }
}